#topExtensionButton {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: large;
    padding: 0.4em 0.7em;
    color: white;
    background: rgba(100, 100, 100, 0.6);
    border-radius: 0.7rem;
    text-decoration: none;
    line-height: 1;
    z-index: 9999;
    cursor: pointer;
}
#topExtensionButton:hover {
    background: rgba(140, 140, 140, 0.9);
}